[submodule "firmware/lib/EmbeddedLib"]
	path = firmware/lib/EmbeddedLib
	url = https://github.com/awesomeyooner/EmbeddedLib.git
[submodule "firmware/lib/WireLib"]
	path = firmware/lib/WireLib
	url = https://github.com/awesomeyooner/WireLib.git
[submodule "firmware/lib/ActionLib"]
	path = firmware/lib/ActionLib
	url = https://github.com/awesomeyooner/ActionLib.git
[submodule "serial_test/project/lib/plib"]
	path = serial_test/project/lib/plib
	url = https://github.com/awesomeyooner/plib.git
[submodule "serial_test/project/lib/CommiFaceLib"]
	path = serial_test/project/lib/CommiFaceLib
	url = https://github.com/awesomeyooner/CommiFaceLib.git
[submodule "serial_test/project/lib/PlotLib"]
	path = serial_test/project/lib/PlotLib
	url = https://github.com/awesomeyooner/PlotLib.git
[submodule "ros2_ws/src/robot_hardware/hardware/lib/plib"]
	path = ros2_ws/src/robot_hardware/hardware/lib/plib
	url = https://github.com/awesomeyooner/plib.git
[submodule "ros2_ws/src/robot_hardware/hardware/lib/CommiFaceLib"]
	path = ros2_ws/src/robot_hardware/hardware/lib/CommiFaceLib
	url = https://github.com/awesomeyooner/CommiFaceLib.git
[submodule "ros2_ws/src/differential_drive_controller"]
	path = ros2_ws/src/differential_drive_controller
	url = https://github.com/awesomeyooner/differential_drive_controller.git
[submodule "ros2_ws/src/joystick_driver"]
	path = ros2_ws/src/joystick_driver
	url = https://github.com/awesomeyooner/joystick_driver.git
