<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="carlikebot_ros2_control" params="name prefix">

  <xacro:macro name="motor" params="name">
    <joint name="${prefix}name">

      <command_interface name="velocity">
        <param name="min">-1000</param>
        <param name="max">1000</param>
      </command_interface>
      
      <state_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="effort"/>
      
    </joint> 
  </xacro:macro>

    <xacro:unless value="$(arg sim_mode)">

      <ros2_control name="${name}" type="system">
        <hardware>
          <plugin>microros_hardware_interface/MicroSystemHardware</plugin>
  
          <param name="front_left_name">front_left_motor</param>
          <param name="front_right_name">front_right_motor</param>

          <param name="rear_left_name">rear_left_motor</param>
          <param name="rear_right_name">rear_right_motor</param>

          <param name="conversion">1</param>

        </hardware>

        <xacro:motor name="front_left_wheel_joint"/>
        <xacro:motor name="front_right_wheel_joint"/>
        <xacro:motor name="rear_left_wheel_joint"/>
        <xacro:motor name="rear_right_wheel_joint"/>

      </ros2_control>

    </xacro:unless>

    <!-- if in sim mode then use the sim stuff -->
    <xacro:if value="$(arg sim_mode)">

      <ros2_control name="GazeboSystem" type="system">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <xacro:motor name="front_left_wheel_joint"/>
        <xacro:motor name="front_right_wheel_joint"/>
        <xacro:motor name="rear_left_wheel_joint"/>
        <xacro:motor name="rear_right_wheel_joint"/>
        
      </ros2_control>
  
      <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
          <parameters>$(find microros_hardware_interface)/bringup/config/carlikebot_controllers.yaml</parameters>
          <parameters>$(find microros_hardware_interface)/bringup/config/gazebo_controller.yaml</parameters>
        </plugin>
      </gazebo>

    </xacro:if>


  </xacro:macro>

</robot>
