<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="robot_hardware_ros2_control" params="name prefix">

    <xacro:property name="speed_multiplier" value="1"/>
    
    <xacro:macro name="wheel" params="name">

        <joint name="${name}_wheel_joint">
            <command_interface name="velocity"/>
            
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

    </xacro:macro>

    <!-- If NOT Sim Mode (Real Mode) -->
    <xacro:unless value="$(arg sim_mode)">

        <ros2_control name="${name}" type="system">

            <hardware>
                <plugin>robot_hardware/RobotSystemHardware</plugin>

                <!-- For initializing the serial port -->
                <param name="MCU_field">product</param>
                <param name="MCU_description">STM32 Virtual ComPort</param>

            </hardware>

            <xacro:wheel name="${prefix}left"/>
            <xacro:wheel name="${prefix}right"/>

        </ros2_control>

    </xacro:unless>

    <!-- If Sim Mode -->
    <xacro:if value="$(arg sim_mode)">

        <!-- Setup ros2_control -->
        <ros2_control name="GazeboSimSystem" type="system">
      
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
    
            <!-- Left Wheel Joint -->
            <joint name="${prefix}left_wheel_joint">
    
                <command_interface name="velocity">
                    <param name="min">-1000</param>
                    <param name="max">1000</param>
                </command_interface>
        
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                
            </joint>

            <!-- Right Wheel Joint -->
            <joint name="${prefix}right_wheel_joint">
    
                <command_interface name="velocity">
                    <param name="min">-1000</param>
                    <param name="max">1000</param>
                </command_interface>
        
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                
            </joint>
    
        </ros2_control>
  
        <!-- Setup Gazebo -->
        <gazebo>
            <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
                <!-- Controller Settings -->
                <parameters>$(find robot_hardware)/config/robot_hardware_controllers.yaml</parameters>

                <!-- Enables Sim Time = True -->
                <parameters>$(find robot_hardware)/config/gazebo_controller.yaml</parameters>
            </plugin>
        </gazebo>

    </xacro:if>

</xacro:macro>

</robot>
