<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="oakd" params="name namespace parent x:=0 y:=0 z:=0 roll:=0 pitch:=0 yaw:=0">

        <link name="${name}_base_link">
            <visual>
                <geometry>
                     <box size="0.010 0.03 0.03"/>
                    <!-- <mesh filename="file://$(find microros_hardware_interface)/description/urdf/assets/components/oakd.STL"/> -->
                </geometry>
                <material name="black"/>
            </visual>
        </link>

        <joint name="${name}_base_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${name}_base_link"/>

            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
        </joint>
    
        <xacro:depth_camera name="${name}_depth" namespace="${namespace}/depth" parent="${name}_base_link" x="0" y="0" z="0" roll="0" pitch="0" yaw="0"/>
        <xacro:camera name="${name}_left" namespace="${namespace}/left" parent="${name}_base_link" x="0" y="0.05" z="0" roll="0" pitch="0" yaw="0"/>
        <xacro:camera name="${name}_right" namespace="${namespace}/right" parent="${name}_base_link" x="0" y="-0.05" z="0" roll="0" pitch="0" yaw="0"/>
        <xacro:imu name="${name}_imu" namespace="${namespace}/imu" parent="${name}_base_link" x="0" y="0" z="0" roll="0" pitch="0" yaw="0"/>

    </xacro:macro>

</robot>